<script>
  import { getContext } from 'svelte';

  import ContourPlot from './contourPlot.html'

  export let loss

  export let opacity = 1

  export let logScale = false

  let [width, height] = getContext("size")

  export let nx=64, ny=64;
  export let n_thresholds = 10;

  export let bgColor = "#470d60"

  let element

  let losses = [loss]

  $: {
    losses = [loss]
  }
</script>

<!-- Background -->
<rect
  width={width}
  height={height}
  fill={bgColor}
  />

{#each losses as loss (loss.id)}

  <ContourPlot lossFunc={loss.func} {opacity} {logScale} {nx} {ny} {n_thresholds} />

{/each}
