<script>
  import {jumpTo, highlight_caption} from './util/fewShotUtil'
  import { onMount } from 'svelte';

  const jumps = {
    maml: 'few_shot_maml',
    siam_nets: 'caption_siamese_nets',
    matching_nets: 'caption_matching_nets',
    proto_nets: 'caption_prototypical_networks',
    mann: 'caption_memory_augmented_nets',
    meta_nets: 'caption_meta_nets',
    lstm_based: 'caption_lstm_based'

  }

  onMount(() => {
    for (const id in jumps) {
        let element = document.getElementById(id)

        element.onmouseenter = () => highlight_caption(jumps[id])
        element.onmouseleave = () => highlight_caption(jumps[id], false)
        element.onclick = () => jumpTo(jumps[id])
    }
  })
</script>


<style>
  #g_interactive {
    cursor:pointer
  }
</style>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="svg8"
   version="1.1"
   viewBox="0 0 236.02887 164.4377"
   preserveAspectRatio="xMinYMin meet">
  <defs
     id="defs2">
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="marker5840"
       style="overflow:visible">
      <path
         id="path5838"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.4,0,0,0.4,2.96,0.4)" />
    </marker>
    <marker
       style="overflow:visible"
       id="marker5722"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.4,0,0,0.4,2.96,0.4)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         id="path5720" />
    </marker>
    <marker
       style="overflow:visible"
       id="DotM"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.4,0,0,0.4,2.96,0.4)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         id="path4744" />
    </marker>
    <marker
       style="overflow:visible"
       id="marker5164"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(0.8,0,0,0.8,5.92,0.8)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         id="path5162" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow2Lstart"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(1.1,0,0,1.1,1.1,0)"
         d="M 8.7185878,4.0337352 -2.2072895,0.01601326 8.7185884,-4.0017078 c -1.7454984,2.3720609 -1.7354408,5.6174519 -6e-7,8.035443 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.625;stroke-linejoin:round;stroke-opacity:1"
         id="path4698" />
    </marker>
    <marker
       style="overflow:visible"
       id="Arrow1Lend"
       refX="0"
       refY="0"
       orient="auto">
      <path
         transform="matrix(-0.8,0,0,-0.8,-10,0)"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         d="M 0,0 5,-5 -12.5,0 5,5 Z"
         id="path4683" />
    </marker>
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="marker5840-2"
       style="overflow:visible">
      <path
         id="path5838-1"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.4,0,0,0.4,2.96,0.4)" />
    </marker>
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="marker5840-2-8"
       style="overflow:visible">
      <path
         id="path5838-1-5"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.4,0,0,0.4,2.96,0.4)" />
    </marker>
    <marker
       orient="auto"
       refY="0"
       refX="0"
       id="marker5840-2-8-3"
       style="overflow:visible">
      <path
         id="path5838-1-5-6"
         d="m -2.5,-1 c 0,2.76 -2.24,5 -5,5 -2.76,0 -5,-2.24 -5,-5 0,-2.76 2.24,-5 5,-5 2.76,0 5,2.24 5,5 z"
         style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.00000003pt;stroke-opacity:1"
         transform="matrix(0.4,0,0,0.4,2.96,0.4)" />
    </marker>
  </defs>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     transform="translate(4.4262478,-132.83833)"
     id="layer1">
    <circle
       r="65.771049"
       cy="217.62497"
       cx="92.604172"
       id="path815"
       style="fill:#96d096;fill-opacity:1;stroke:#000000;stroke-width:0.74957484;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <circle
       r="65.771049"
       cy="217.62497"
       cx="119.0625"
       id="path815-3"
       style="fill:#ffc794;fill-opacity:1;stroke:#000000;stroke-width:0.75;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <path
       id="circle842"
       d="m 105.96821,153.2405 a 65.771048,65.771048 0 0 0 -52.676889,64.38418 65.771048,65.771048 0 0 0 52.408169,64.38418 65.771048,65.771048 0 0 0 52.67585,-64.38418 65.771048,65.771048 0 0 0 -52.40713,-64.38418 z"
       style="fill:#fefeb5;fill-opacity:1;stroke:#000000;stroke-width:0.75;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <circle
       r="20.883274"
       cy="191.16672"
       cx="105.83334"
       id="path847"
       style="fill:#d9cfe1;fill-opacity:1;stroke:#000000;stroke-width:0.64999998;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <circle
       style="fill:#a7c8e2;fill-opacity:1;stroke:#000000;stroke-width:0.64999998;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="circle849"
       cx="82.020836"
       cy="230.85422"
       r="20.883274" />
    <circle
       r="20.883274"
       cy="230.85422"
       cx="129.64583"
       id="circle851"
       style="fill:#d3edef;fill-opacity:1;stroke:#000000;stroke-width:0.64999998;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <text
       id="text4605"
       y="232.46794"
       x="66.658424"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         id="tspan4607"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.93888903px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;stroke-width:0.26458332"
         y="232.46794"
         x="66.658424">Metric - Based</tspan></text>
    <text
       id="text4605-0"
       y="232.46277"
       x="114.20771"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         id="tspan4607-3"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.93888903px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;stroke-width:0.26458332"
         y="232.46277"
         x="114.20771">Model - Based</tspan></text>
    <text
       id="text4605-0-4"
       y="202.85925"
       x="105.84566"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;line-height:1;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         id="tspan4607-3-44"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333311px;line-height:1;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
         y="202.85925"
         x="105.84566">Optimization -</tspan><tspan
         id="tspan4655"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333311px;line-height:1;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
         y="208.50369"
         x="105.84566">Based</tspan></text>
    <circle
       r="12.880136"
       cy="184.71571"
       cx="105.83334"
       id="path4672"
       style="fill:#ea8f8f;fill-opacity:1;stroke:#000000;stroke-width:0.69806081;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <path
       id="path5006"
       d="M 69.623712,238.13386 H 22.457832"
       style="fill:none;stroke:#000000;stroke-width:0.55000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#DotM)" />
    <path
       id="path5008"
       d="M 79.044962,241.40792 30.107829,262.86708"
       style="fill:none;stroke:#000000;stroke-width:0.55000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#marker5722)" />
    <path
       id="path5010"
       d="M 90.537551,241.3411 52.585279,283.43605"
       style="fill:none;stroke:#000000;stroke-width:0.55000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#marker5840)" />
    <path
       id="path5010-7"
       d="m 123.33647,240.20571 46.33641,45.30775"
       style="fill:none;stroke:#000000;stroke-width:0.55000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#marker5840-2)" />
    <path
       id="path5010-7-7"
       d="m 137.81723,241.4274 48.0373,22.06221"
       style="fill:none;stroke:#000000;stroke-width:0.55000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#marker5840-2-8)" />
    <text
       transform="rotate(-30)"
       id="text8305"
       y="156.3638"
       x="-78.680984"
       style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46666622px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;stroke-width:0.26458332"
         y="156.3638"
         x="-78.680984"
         id="tspan8303">Few-Shot Learning</tspan></text>
    <text
       transform="rotate(30)"
       id="text8309"
       y="49.490864"
       x="204.99425"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46666622px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46666622px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;stroke-width:0.26458332"
         y="49.490864"
         x="204.99425"
         id="tspan8307">Meta-Learning</tspan></text>
    <path
       id="path5010-7-7-7"
       d="m 170.9794,218.05903 h 22.6467"
       style="fill:none;stroke:#000000;stroke-width:0.55000001;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-start:url(#marker5840-2-8-3)" />
    <g
       id="g_interactive">
      <text
         xml:space="preserve"
         style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="105.6828"
         y="185.91466"
         id="maml"><tspan
           id="tspan4676"
           x="105.6828"
           y="185.91466"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:5.64444447px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332">MAML</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="10.581412"
         y="236.07024"
         id="proto_nets"
         onclick=""><tspan
           id="tspan5890"
           x="10.581412"
           y="236.07024"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332">Prototypical</tspan><tspan
           x="10.581412"
           y="241.80287"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan5894">Networks</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="19.368504"
         y="262.60818"
         id="siam_nets"><tspan
           x="19.368504"
           y="262.60818"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan6505">Siamese</tspan><tspan
           x="19.368504"
           y="268.34082"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan5894-7">Networks</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="45.595314"
         y="288.84253"
         id="matching_nets"><tspan
           x="45.595314"
           y="288.84253"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan5894-7-6">Matching</tspan><tspan
           x="45.595314"
           y="294.57516"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan6532">Nets</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="186.37207"
         y="288.70401"
         id="meta_nets"><tspan
           x="186.37207"
           y="288.70401"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan6532-8">Meta Networks</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="207.72772"
         y="262.0567"
         id="mann"><tspan
           x="207.72772"
           y="262.0567"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan5894-7-6-1-9">Memory-Augmented</tspan><tspan
           x="207.72772"
           y="267.78934"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan6532-8-7">Neural Networks</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;line-height:1.25;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="207.54829"
         y="216.24573"
         id="lstm_based"><tspan
           x="207.54829"
           y="216.24573"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan1502">LSTM-based</tspan><tspan
           x="207.54829"
           y="221.97836"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.58611107px;font-family:Ubuntu;-inkscape-font-specification:Ubuntu;text-align:center;text-anchor:middle;stroke-width:0.26458332"
           id="tspan1506">Optimizer</tspan></text>
    </g>
  </g>
</svg>
