<script>
  import { onMount, getContext } from 'svelte';
  import * as d3 from 'd3';


  export let draggingDisabled = false

  export let lines = true

  export let circleRadius = 3, circleRadius_hover = 5
  export let lineOpacity = 0, lineOpacity_hover = .5

  export let onDragStart=null, onDrag=null, onDragEnd=null

  export let isHovered = false

  let handleElement, handleGroupElement

  let [xScale, yScale] = getContext("scales");

  export let position = [0.5, 0.5]

  let x, y, xmin, xmax, ymin, ymax;

  $: {
    [x, y] = position
  }

  $: {
    [xmin, xmax] = xScale.domain();
    [ymin, ymax] = yScale.domain();
  }

  let axisGroup = getContext("axisGroup")


  onMount(() => {
    var handle = d3.select(handleElement);
    var handleGroup = d3.select(handleGroupElement).raise()

    isHovered = false


    if (!draggingDisabled) {
      handle.call(d3.drag().container(axisGroup())
        .on("start", function(event){
          isHovered = true
          /* Raise this handle to the top, so other handles aren't hovered while
             dragging */
          handleGroup.raise()
          if ('function' === typeof onDragStart) {
            onDragStart();
          }
        })
        .on("drag", function(event) {
          position = [
            Math.max(Math.min(xmax, xScale.invert(event.x)), xmin),
            Math.max(Math.min(ymax, yScale.invert(event.y)), ymin)
          ]
          if ('function' === typeof onDrag) {
            onDrag();
          }
        })
        .on("end", function(event) {
          if ('function' === typeof onDragEnd) {
            onDragEnd();
          }
        })
      );
    }

    handle.on("mouseover", function (event) {
      isHovered = true

      /* Raise this handle to the top, so other handles aren't hovered while
         dragging */
      handleGroup.raise()
    })
    handle.on("mouseout", function (d) {
      isHovered = false
    })

  })
</script>

<g bind:this={handleGroupElement}>
  {#if lines}
    <line class="handleLine"
          stroke="white" stroke-width="1"
          opacity="{isHovered ? lineOpacity_hover : lineOpacity}"
          x1={xScale(xmin)} x2={xScale(xmax)}
          y1={yScale(y)} y2={yScale(y)} />

    <line class="handleLine"
          stroke="white" stroke-width="1"
          opacity="{isHovered ? lineOpacity_hover : lineOpacity}"
          x1={xScale(x)} x2={xScale(x)}
          y1={yScale(ymin)} y2={yScale(ymax)} />
  {/if}
  <slot {isHovered} {draggingDisabled} {position}>
    <circle stroke="none" fill="white" class="circleMarker"
            r="{(isHovered && !draggingDisabled) ? circleRadius_hover : circleRadius}"
            cx={xScale(x)} cy={yScale(y)} />
  </slot>

  <circle bind:this={handleElement} class="handleInvisible"
          cx={xScale(x)} cy={yScale(y)} r={draggingDisabled ? 5 : 20}  style={draggingDisabled ? "cursor: pointer;" : "cursor: move;"}/>
</g>


<style>
  .handleInvisible {
    opacity: 0;
    color: rgba(255, 255, 255, 0);
  }

  .circleMarker {
    transition: r .2s;
  }

  .handleLine {
    transition: opacity .2s;
  }
</style>
