<div class="slider-container">
  {#if label}
    <label for={id}>
      {label}
    </label>
  {/if}


  <input style="width : {width}%" type="range" min={min} max={max} bind:value={value} class="slider" id={id} on:change on:input>


  {#if output != null}
    <output class="slider-label">{output}</output>
  {/if}
</div>

<script>
  import uniqueId from 'lodash/uniqueId'

  import { renderTex } from '../util/mathjax';

  let id = uniqueId('slider_')

  export let min = 0
  export let max = 10
  export let value = 0
  export let label = ""
  export let output = null

  $: {
    if (label) {
      renderTex()
    }
  }

  export let width = 20

</script>


<style>
  .slider-container {
    /*width: 100%;*/
    flex-direction: row;
    display: flex;
    margin: 10px 0;
  }

  label, output {
    font-size: .7em;
    flex-grow: 0;
    fley-shrink: 0;
  }

  label {
    margin-right: 20px;
  }

  output {
    margin-left: 20px;
  }

  input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    flex-grow: 1;
    padding-top: 7px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #85C6DE;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #38588C;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #689BAE;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #85C6DE;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #85C6DE;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #38588C;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #689BAE;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #85C6DE;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #85C6DE;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #38588C;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #689BAE;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #85C6DE;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #85C6DE;
  }


</style>
