<script>
  import { getContext } from 'svelte';


  import Handle from './handle.html'
  import Latex from './latex.html'

  export let value = ""
  export let position
  export let rHovered = 4
  export let r = 2
  export let color = "white"

  export let fontSize = "1em"
  export let fontSizeHovered = "1.2em"

  export let withPoint = true

  export let offset = [-20, -10]

  export let isHovered = false

  let normedVec = [0, 0]

  let [xScale, yScale] = getContext("scales");

  let x, y

  $: {
    [x, y] = position
  }


</script>

<Handle bind:position={position} bind:isHovered let:draggingDisabled {...$$restProps}>
  {#if withPoint}
    <Latex {value} style="color: {color}; font-size: {(isHovered && !draggingDisabled) ? fontSizeHovered : fontSize}" x={offset[0] + xScale(x)} y={offset[1] + yScale(y)}/>
    <circle stroke="none" fill={color} class="circleMarker" r="{(isHovered && !draggingDisabled) ? rHovered : r}" cx={xScale(x)} cy={yScale(y)}  />
  {:else}
    <Latex {value} style="color: {color}; font-size: {(isHovered && !draggingDisabled) ? fontSizeHovered : fontSize}" x={xScale(x)} y={yScale(y)} />
  {/if}
</Handle>
